.registration {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 5px 10px 10px;
}

.registration-name {
  font-size: 18pt;
  font-weight: bold;
}

.registration-headers {
  font-size: 11pt;
  font-weight: bold;
  text-decoration: underline;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.registration-division {
  padding: 12px 3px 12px 3px;
}

.registration-division:hover {
  background-color: rgba(0, 200, 0, 0.1);
}

.registration-details {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.registration-division-header {
  font-size: 13pt;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.division-name a {
  font-size: 12pt;
  font-weight: bold;
}

.division-name:hover {
  color: #0000FF;
  text-decoration: underline;
}

.division-dates {
  padding-left: 30px;
  font-size: 12pt;
}

.registration-fee {
}

.registration-division-info {
  margin-left: 10px;
}
