.header {
}

.header nav {
    min-height: 70px;
}

.brand-logo {
    height: 45px;
    margin-bottom: 20px;
}

.header-search {
  margin-right: 30px;
}

.header-search button {
  height: 35px;
  width: 50px;
}

.header-search button img {
  height: 22px;
  margin-bottom: 7px;
}

.header-search input {
  min-width: 50px;
}

.header-shopping-cart {
  height: 30px;
  float: right;
}

.header-shopping-cart img {
  height: 30px;
}

.header-search button:hover {
  background-color: #FFD000;
  border: 1px solid white;
}

/* @media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) and (min-width: 480px) {
}

@media screen and (max-width: 480px) {
} */
